from .local_base import *  # noqa


DATABASES = {
    "default": config("DATABASE_URL_SQLITE", cast=db_url),

}


INSTALLED_APPS = [
    "django.contrib.admin",
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.messages",
    "django.contrib.staticfiles",
    "django_extensions",
    "django_js_reverse",
    "webpack_loader",
    "import_export",
    "rest_framework",
    "drf_spectacular",
    "defender",
    "django_guid",
    "common",
    "users",
    "posts",
    "comments",
]


MIDDLEWARE = [
    "debreach.middleware.RandomCommentMiddleware",
    "django.middleware.security.SecurityMiddleware",
    "django_permissions_policy.PermissionsPolicyMiddleware",
    "whitenoise.middleware.WhiteNoiseMiddleware",
    "django.contrib.sessions.middleware.SessionMiddleware",
    "django.middleware.common.CommonMiddleware",
    "django.middleware.csrf.CsrfViewMiddleware",
    "django.contrib.auth.middleware.AuthenticationMiddleware",
    "django.contrib.messages.middleware.MessageMiddleware",
    "django.middleware.clickjacking.XFrameOptionsMiddleware",
    "csp.middleware.CSPMiddleware",
    "django_guid.middleware.guid_middleware",
]


GRAPH_MODELS = {
  'all_applications': True,
  'group_models': True,
}
