$background-color: #1a1a1a;
$container-background: #1a1a1a;
$form-control-background: #000;
$form-control-focus-background: #444;
$btn-primary-background: #1da1f2;
$btn-primary-hover-background: #0d8bd7;
$text-color: #fff;


.full-width-footer {
  width: 100vw;
  height: 25vh;
  display: flex;
  background-color: $background-color !important;
  color: $text-color;
  flex-direction: column;
  justify-content: space-around;
}
