$background-color: #1a1a1a;
$container-background: #1a1a1a;
$form-control-background: #000;
$form-control-focus-background: #444;
$btn-primary-background: #1da1f2;
$btn-primary-hover-background: #0d8bd7;
$text-color: #fff;


.full-width-navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color !important;
  color: $text-color;
}


.nav-link {
  display: block;
  color: $text-color;
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


.navbar-brand {
  color: $text-color;
  text-decoration: none;
  white-space: nowrap;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}


